@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
}
body{
    overflow-x: hidden;
    transition: all .2s ease;
    
}
.note-app{
    /* color: rgb(255, 255, 255); */
    color:#060606;
    /* background: #252525;  */
     background: #dfdfdf;
    width: 100vw;
    min-height: 100vh;
}
.note-app-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 2rem;
}
.note-app-header h1 {
    font-weight:900;
}
.setting-icon{
    z-index: 1;
    transition: all 0.3s ease;
 
}
.input{
    display: flex;
    align-items: center;

}
.menu{
    position: absolute;
    top:-30vh;
    background:#afafaf;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    min-width: 20vw;
    height:25vh;
    left:0;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu{
    transition: all 0.3s ease;
}
.note-app-notes{
  display: flex;
  padding-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem
}
.note{
    display: flex;
    color:white;
    /* ff */
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border: inherit 1px solid;
    width: 10rem;
    background: #5a5a5a;
    height: 10rem;
    align-items: center;
    gap: 1rem;
    border-radius: 3px;
    justify-content: space-around;
    
}
.note button{
    background: #747474;
    border:none;
   
    color: #ffffff;
    margin: 3px;
    display: flex;
    align-items: center;
    padding: 5px;
    
    border-radius: 2px;
    transition: all 0.2s ease;
}
.note button:hover{
    cursor: pointer;
    background: #252525;
}
.sign-out{
    color:white;
    transition: all 0.2s ease;
}
.sign-out:hover{
    background: #252525;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.note textarea{
    background: #4f4f4f;
    border: none;
    color: white;
    font-size: inherit;
    max-width: 150px;
    max-height: 200px;
    overflow: hidden;
}
.note-app-header button{
    padding:1px;
    margin: 5px;
    cursor:pointer;
    background: #4f4f4f;
    border: none;
    border-radius: 5px;
}
form{
    background: #333333;
    width: 100vw;  
    height: 100vh; 
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form .link{
    
    text-decoration: underline;
    cursor: pointer;
}

form button{
    background: #4f4f4f;
    color: rgb(255, 255, 255);
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   transition: all .2s ease;
}
form button:hover{
    background: #363636;

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 100vh;
}
form div{
    margin: 10px;
}
.navbar{
    top:1vh;
    left:10px;
    cursor: pointer;
}
.note{
   overflow-x:scroll; 
}
.note-text{
    display: flex;
}
.add-button{
    color:white;
}

